<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Sudoku</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="content-wrapper">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)

</body>
</html>
